<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Thanks!</h1>
        <p>For signing up with us. We'll contact you soon.</p>
      </div>
    </div>
  </div>
</div>